<a href="https://colab.research.google.com/github/rgnemasters/nfl-combine-draft-2022/blob/main/CFB_AdditionalData_Combine_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
#Scrape pages from College Football Reference website
years = list(range(1999, 2022))
for year in years:
  pass_page = requests.get(f'https://www.sports-reference.com/cfb/years/{year}-passing.html')
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbpassing{}.html'.format(year), 'w+') as f1:
    f1.write(pass_page.text)
  rush_page = requests.get(f'https://www.sports-reference.com/cfb/years/{year}-rushing.html')
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbrushing{}.html'.format(year), 'w+') as f2:
    f2.write(rush_page.text)
  rec_page = requests.get(f'https://www.sports-reference.com/cfb/years/{year}-receiving.html')
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbreceiving{}.html'.format(year), 'w+') as f3:
    f3.write(rec_page.text)

In [ ]:
#Parse and combine pages into dataframes
rec_table = []
rush_table = []
pass_table = []

for year in years:
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbpassing{}.html'.format(year)) as f1:
    pass_page = f1.read()
    pass_soup = BeautifulSoup(pass_page, 'html.parser')
    table1 = pass_soup.find(id='passing')
    pass_soup.find('tr', class_ = 'over_header').decompose()
    table1_read = pd.read_html(str(table1))[0]
    table1_read['Season'] = year
    pass_table.append(table1_read)
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbrushing{}.html'.format(year)) as f2:
    rush_page = f2.read()
    rush_soup = BeautifulSoup(rush_page, 'html.parser')
    table2 = rush_soup.find(id='rushing')
    rush_soup.find('tr', class_ = 'over_header').decompose()
    table2_read = pd.read_html(str(table2))[0]
    table2_read['Season'] = year
    rush_table.append(table2_read)
  with open('/content/drive/MyDrive/Project Notebooks/scraped pages/Combine Pages/cfbreceiving{}.html'.format(year)) as f3:
    rec_page = f3.read()
    rec_soup = BeautifulSoup(rec_page, 'html.parser')
    table3 = rec_soup.find(id='receiving')
    rec_soup.find('tr', class_ = 'over_header').decompose()
    table3_read = pd.read_html(str(table3))[0]
    table3_read['Season'] = year
    rec_table.append(table3_read)

cfb_pass = pd.concat(pass_table)
cfb_rush = pd.concat(rush_table)
cfb_rec = pd.concat(rec_table)

#Review and Clean Dataframes

In [ ]:
display(cfb_pass.head())
display(cfb_rec.head())
cfb_rush.head()

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att.1,Yds.1,Avg,TD.1,Season
0,1,Michael Vick*,Virginia Tech,Big East,12,105,182,57.7,2065,11.3,11.5,13,5,171.1,131,682,5.2,9,1999
1,2,Joe Hamilton,Georgia Tech,ACC,11,203,305,66.6,3060,10.0,10.3,29,11,175.0,154,734,4.8,6,1999
2,3,Chad Pennington,Marshall,MAC,12,275,405,67.9,3799,9.4,10.0,37,11,171.4,56,103,1.8,2,1999
3,4,Jonathan Beasley,Kansas State,Big 12,11,90,203,44.3,1805,8.9,8.7,14,7,134.9,105,227,2.2,8,1999
4,5,Jarious Jackson,Notre Dame,Ind,12,184,316,58.2,2753,8.7,7.8,17,14,140.3,140,464,3.3,7,1999

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
0,1,Andre Davis*,Virginia Tech,Big East,12,42,1070,25.5,10,4,88,22.0,3,46,1158,25.2,13,1999
1,2,Quincy Morgan,Kansas State,Big 12,11,42,1007,24.0,9,NaN,NaN,NaN,NaN,42,1007,24.0,9,1999
2,3,Corey Alston,Western Michigan,MAC,12,32,720,22.5,8,1,-5,-5.0,0,33,715,21.7,8,1999
3,4,Lavel Bailey,Akron,MAC,11,42,941,22.4,9,1,-1,-1.0,0,43,940,21.9,9,1999
4,5,Anthony Lucas,Arkansas,SEC,10,37,822,22.2,5,NaN,NaN,NaN,NaN,37,822,22.2,5,1999

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
0,1,Levron Williams,Indiana,Big Ten,11,118,817,6.9,4,33,360,10.9,3,151,1177,7.8,7,1999
1,2,Scott McKay,Air Force,MWC,11,98,652,6.7,3,15,209,13.9,1,113,861,7.6,4,1999
2,3,Bo Carroll,Florida,SEC,12,86,577,6.7,3,10,103,10.3,0,96,680,7.1,3,1999
3,4,LaDainian Tomlinson*,TCU,WAC,12,304,1974,6.5,20,16,84,5.3,0,320,2058,6.4,20,1999
4,5,Chester Taylor,Toledo,MAC,11,182,1176,6.5,12,8,47,5.9,0,190,1223,6.4,12,1999

In [ ]:
cfb_pass.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2467 entries, 0 to 109
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      2467 non-null   object
 1   Player  2467 non-null   object
 2   School  2467 non-null   object
 3   Conf    2467 non-null   object
 4   G       2467 non-null   object
 5   Cmp     2467 non-null   object
 6   Att     2467 non-null   object
 7   Pct     2467 non-null   object
 8   Yds     2467 non-null   object
 9   Y/A     2467 non-null   object
 10  AY/A    2467 non-null   object
 11  TD      2467 non-null   object
 12  Int     2467 non-null   object
 13  Rate    2467 non-null   object
 14  Att.1   2467 non-null   object
 15  Yds.1   2467 non-null   object
 16  Avg     2467 non-null   object
 17  TD.1    2467 non-null   object
 18  Season  2467 non-null   int64
dtypes: int64(1), object(18)
memory usage: 385.5+ KB

In [ ]:
display(cfb_rush[cfb_rush.duplicated()])
display(cfb_rec[cfb_rec.duplicated()])
cfb_pass[cfb_pass.duplicated()]

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
41,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
62,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
83,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
104,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
125,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
230,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
251,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
272,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
293,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds,Avg,TD,Plays,Yds,Avg,TD,2021

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
41,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
62,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
83,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
104,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
125,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
377,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
398,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
419,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,2021
440,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds,Avg,TD,Plays,Yds,Avg,TD,2021

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att.1,Yds.1,Avg,TD.1,Season
41,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,1999
62,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,1999
83,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,1999
41,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2000
62,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2020
41,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2021
62,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2021
83,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2021
104,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att,Yds,Avg,TD,2021

In [ ]:
#Duplicated rows are all additional header rows. Will remove.
cfb_pass.drop_duplicates(keep=False, inplace=True)
cfb_rec.drop_duplicates(keep=False, inplace=True)
cfb_rush.drop_duplicates(keep=False, inplace=True)
cfb_pass.duplicated().sum()

0

In [ ]:
#Create dictionary for iterations
dfs = {'Passing DF': cfb_pass,
       'Receiving DF': cfb_rec,
       'Rushing DF': cfb_rush}

In [ ]:
#Checking for NaNs

for h, i in dfs.items():
  i_report = pd.DataFrame({'Column': i.columns,
                           'Dtype': i.dtypes,
                           'null': i.isna().sum(),
                           '% null': i.isna().sum()/len(i)})
  print('Overview:', h)
  print('***'*20)
  display(i_report)
  print(h, 'Numeric Analysis:')
  print('***'*20)
  display(i.describe())

Overview: Passing DF
************************************************************

        Column   Dtype  null  % null
Rk          Rk  object     0     0.0
Player  Player  object     0     0.0
School  School  object     0     0.0
Conf      Conf  object     0     0.0
G            G  object     0     0.0
Cmp        Cmp  object     0     0.0
Att        Att  object     0     0.0
Pct        Pct  object     0     0.0
Yds        Yds  object     0     0.0
Y/A        Y/A  object     0     0.0
AY/A      AY/A  object     0     0.0
TD          TD  object     0     0.0
Int        Int  object     0     0.0
Rate      Rate  object     0     0.0
Att.1    Att.1  object     0     0.0
Yds.1    Yds.1  object     0     0.0
Avg        Avg  object     0     0.0
TD.1      TD.1  object     0     0.0
Season  Season   int64     0     0.0

Passing DF Numeric Analysis:
************************************************************

            Season
count  2357.000000
mean   2010.152312
std       6.576193
min    1999.000000
25%    2005.000000
50%    2010.000000
75%    2016.000000
max    2021.000000

Overview: Receiving DF
************************************************************

        Column   Dtype  null    % null
Rk          Rk  object     0  0.000000
Player  Player  object     0  0.000000
School  School  object     0  0.000000
Conf      Conf  object     0  0.000000
G            G  object     1  0.000103
Rec        Rec  object     0  0.000000
Yds        Yds  object     0  0.000000
Avg        Avg  object     0  0.000000
TD          TD  object     0  0.000000
Att        Att  object  2277  0.234018
Yds.1    Yds.1  object  2277  0.234018
Avg.1    Avg.1  object  4223  0.434018
TD.1      TD.1  object  2277  0.234018
Plays    Plays  object     0  0.000000
Yds.2    Yds.2  object     0  0.000000
Avg.2    Avg.2  object     0  0.000000
TD.2      TD.2  object     0  0.000000
Season  Season   int64     0  0.000000

Receiving DF Numeric Analysis:
************************************************************

            Season
count  9730.000000
mean   2010.499589
std       6.541285
min    1999.000000
25%    2005.000000
50%    2011.000000
75%    2016.000000
max    2021.000000

Overview: Rushing DF
************************************************************

        Column   Dtype  null    % null
Rk          Rk  object     0  0.000000
Player  Player  object     0  0.000000
School  School  object     0  0.000000
Conf      Conf  object     0  0.000000
G            G  object     0  0.000000
Att        Att  object     0  0.000000
Yds        Yds  object     0  0.000000
Avg        Avg  object     0  0.000000
TD          TD  object     0  0.000000
Rec        Rec  object   581  0.093785
Yds.1    Yds.1  object   581  0.093785
Avg.1    Avg.1  object  1080  0.174334
TD.1      TD.1  object   581  0.093785
Plays    Plays  object     0  0.000000
Yds.2    Yds.2  object     0  0.000000
Avg.2    Avg.2  object     0  0.000000
TD.2      TD.2  object     0  0.000000
Season  Season   int64     0  0.000000

Rushing DF Numeric Analysis:
************************************************************

            Season
count  6195.000000
mean   2010.341243
std       6.650564
min    1999.000000
25%    2005.000000
50%    2011.000000
75%    2016.000000
max    2021.000000

In [ ]:
for name, i in dfs.items():
  print(name)
  display(round(i.isna().sum()/len(i), 2))

Passing DF

Rk        0.0
Player    0.0
School    0.0
Conf      0.0
G         0.0
Cmp       0.0
Att       0.0
Pct       0.0
Yds       0.0
Y/A       0.0
AY/A      0.0
TD        0.0
Int       0.0
Rate      0.0
Att.1     0.0
Yds.1     0.0
Avg       0.0
TD.1      0.0
Season    0.0
dtype: float64

Receiving DF

Rk        0.00
Player    0.00
School    0.00
Conf      0.00
G         0.00
Rec       0.00
Yds       0.00
Avg       0.00
TD        0.00
Att       0.23
Yds.1     0.23
Avg.1     0.43
TD.1      0.23
Plays     0.00
Yds.2     0.00
Avg.2     0.00
TD.2      0.00
Season    0.00
dtype: float64

Rushing DF

Rk        0.00
Player    0.00
School    0.00
Conf      0.00
G         0.00
Att       0.00
Yds       0.00
Avg       0.00
TD        0.00
Rec       0.09
Yds.1     0.09
Avg.1     0.17
TD.1      0.09
Plays     0.00
Yds.2     0.00
Avg.2     0.00
TD.2      0.00
Season    0.00
dtype: float64

No nulls in passing DF.

RB and Rec nulls are from players who did not accumulate stats in the categories that don't 100% map to their positions (receiving for RBs, rushing for Rec's). However, these are important to the analysis of each position, so I will impute 0s to these columns.

In [ ]:
cfb_rush.fillna(0, inplace=True)
cfb_rec.fillna(0,inplace=True)
for name, i in dfs.items():
  print(name)
  display(round(i.isna().sum()/len(i), 2))

Passing DF

Rk        0.0
Player    0.0
School    0.0
Conf      0.0
G         0.0
Cmp       0.0
Att       0.0
Pct       0.0
Yds       0.0
Y/A       0.0
AY/A      0.0
TD        0.0
Int       0.0
Rate      0.0
Att.1     0.0
Yds.1     0.0
Avg       0.0
TD.1      0.0
Season    0.0
dtype: float64

Receiving DF

Rk        0.0
Player    0.0
School    0.0
Conf      0.0
G         0.0
Rec       0.0
Yds       0.0
Avg       0.0
TD        0.0
Att       0.0
Yds.1     0.0
Avg.1     0.0
TD.1      0.0
Plays     0.0
Yds.2     0.0
Avg.2     0.0
TD.2      0.0
Season    0.0
dtype: float64

Rushing DF

Rk        0.0
Player    0.0
School    0.0
Conf      0.0
G         0.0
Att       0.0
Yds       0.0
Avg       0.0
TD        0.0
Rec       0.0
Yds.1     0.0
Avg.1     0.0
TD.1      0.0
Plays     0.0
Yds.2     0.0
Avg.2     0.0
TD.2      0.0
Season    0.0
dtype: float64

In [ ]:
#Changing Dtypes for numeric categories
for key, value in dfs.items():
  print(key)
  display(value.columns)

Passing DF

Index(['Rk', 'Player', 'School', 'Conf', 'G', 'Cmp', 'Att', 'Pct', 'Yds',
       'Y/A', 'AY/A', 'TD', 'Int', 'Rate', 'Att.1', 'Yds.1', 'Avg', 'TD.1',
       'Season'],
      dtype='object')

Receiving DF

Index(['Rk', 'Player', 'School', 'Conf', 'G', 'Rec', 'Yds', 'Avg', 'TD', 'Att',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2', 'Season'],
      dtype='object')

Rushing DF

Index(['Rk', 'Player', 'School', 'Conf', 'G', 'Att', 'Yds', 'Avg', 'TD', 'Rec',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2', 'Season'],
      dtype='object')

In [ ]:
cfb_pass[['G', 'Cmp', 'Att', 'Pct', 'Yds',
       'Y/A', 'AY/A', 'TD', 'Int', 'Rate', 'Att.1', 'Yds.1', 'Avg', 'TD.1']] = cfb_pass[['G', 'Cmp', 'Att', 'Pct', 'Yds',
       'Y/A', 'AY/A', 'TD', 'Int', 'Rate', 'Att.1', 'Yds.1', 'Avg', 'TD.1']].astype(float)
cfb_rec[['G', 'Rec', 'Yds', 'Avg', 'TD', 'Att',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2']] = cfb_rec[['G', 'Rec', 'Yds', 'Avg', 'TD', 'Att',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2']].astype(float)
cfb_rush[['G', 'Att', 'Yds', 'Avg', 'TD', 'Rec',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2']] = cfb_rush[['G', 'Att', 'Yds', 'Avg', 'TD', 'Rec',
       'Yds.1', 'Avg.1', 'TD.1', 'Plays', 'Yds.2', 'Avg.2', 'TD.2']].astype(float)
for key, value in dfs.items():
  print(key)
  print(value.dtypes)

Passing DF
Rk         object
Player     object
School     object
Conf       object
G         float64
Cmp       float64
Att       float64
Pct       float64
Yds       float64
Y/A       float64
AY/A      float64
TD        float64
Int       float64
Rate      float64
Att.1     float64
Yds.1     float64
Avg       float64
TD.1      float64
Season      int64
dtype: object
Receiving DF
Rk         object
Player     object
School     object
Conf       object
G         float64
Rec       float64
Yds       float64
Avg       float64
TD        float64
Att       float64
Yds.1     float64
Avg.1     float64
TD.1      float64
Plays     float64
Yds.2     float64
Avg.2     float64
TD.2      float64
Season      int64
dtype: object
Rushing DF
Rk         object
Player     object
School     object
Conf       object
G         float64
Att       float64
Yds       float64
Avg       float64
TD        float64
Rec       float64
Yds.1     float64
Avg.1     float64
TD.1      float64
Plays     float64
Yds.2     float64
Avg.2     float64
TD.2      float64
Season      int64
dtype: object

In [ ]:
#Remove asterisk from player names column
cfb_pass['Player'] = cfb_pass['Player'].str.replace('*', '', regex=False)
cfb_rec['Player'] = cfb_rec['Player'].str.replace('*', '', regex=False)
cfb_rush['Player'] = cfb_rush['Player'].str.replace('*', '', regex=False)

In [ ]:
#One last check of the DFs before export
for title, data in dfs.items():
  column_names = data.columns
  for col in column_names:
    if data[col].dtypes.name == 'object':
      print(title)
      print('\n\n')
      print(data[col].unique())
      print('\n\n')
    else:
      print(title)
      print('\n\n')
      print(data[col].describe())
      print('\n\n')

Passing DF



['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113']



Passing DF



['Michael Vick' 'Joe Hamilton' 'Chad Pennington' ... 'Will Plummer'
 'Brendon Lewis' 'Steven Krajewski']



Passing DF



['Virginia Tech' 'Georgia Tech' 'Marshall' 'Kansas State' 'Notre Dame'
 'Stanford' 'Miami (OH)' 'UTEP' 'Wyoming' 'Arizona' 'Florida State'
 'Indiana' 'Colorado' 'Utah' 'Nevada' 'Texas A&M' 'New Mexico State'
 'Brigham Young' 'Southern Mississippi' 'Virginia' 'Penn State' 'Akron'
 'Boise State' 'Northern Illinois' 'Western Michigan' 'Louisiana Tech'
 'Florida' 'East Carolina' 'Tennessee' 'Minnesota' 'Iowa State'
 'Louisville' 'Washington' 'Michigan' 'Oregon' 'Boston College' 'Clemson'
 'Ole Miss' 'Arizona State' 'Miami (FL)' 'Colorado State'
 'San Diego State' 'Mississippi State' 'Texas' 'Oregon State'
 'Fresno State' 'Central Michigan' 'Arkansas' 'Ohio State' 'Purdue'
 'Georgia' 'Michigan State' 'Maryland' 'Kentucky' 'Hawaii' 'Oklahoma'
 'North Carolina State' 'Vanderbilt' 'UCF' 'Illinois' 'Alabama'
 'Arkansas State' 'Texas Tech' 'UCLA' 'Pitt' 'Middle Tennessee State'
 'Wake Forest' 'Tulane' 'Washington State' 'Cincinnati' 'San Jose State'
 'Houston' 'Kent State' 'Iowa' 'Eastern Michigan' 'Kansas' 'SMU' 'Tulsa'
 'Missouri' 'Buffalo' 'Ball State' 'Toledo' 'New Mexico' 'Utah State'
 'LSU' 'UAB' 'Louisiana-Monroe' 'Baylor' 'Louisiana' 'California' 'Temple'
 'TCU' 'Air Force' 'UNLV' 'Idaho' 'North Carolina' 'South Carolina'
 'Wisconsin' 'USC' 'Auburn' 'South Florida' 'West Virginia' 'Northwestern'
 'Rutgers' 'Oklahoma State' 'Bowling Green State' 'Duke' 'Nebraska'
 'North Texas' 'Troy' 'Memphis' 'Army' 'Connecticut' 'Syracuse'
 'Florida Atlantic' 'Ohio' 'Florida International' 'Rice'
 'Western Kentucky' 'UTSA' 'Texas State' 'South Alabama' 'Massachusetts'
 'Georgia State' 'Appalachian State' 'Old Dominion' 'Charlotte' 'Liberty'
 'North Dakota State' 'Coastal Carolina']



Passing DF



['Big East' 'ACC' 'MAC' 'Big 12' 'Ind' 'Pac-10' 'WAC' 'MWC' 'Big Ten'
 'Big West' 'CUSA' 'SEC' 'Sun Belt' 'Pac-12' 'American' 'MVC']



Passing DF



count    2357.000000
mean       11.692406
std         1.551328
min         2.000000
25%        11.000000
50%        12.000000
75%        13.000000
max        16.000000
Name: G, dtype: float64



Passing DF



count    2357.000000
mean      204.071277
std        66.993722
min        36.000000
25%       154.000000
50%       200.000000
75%       243.000000
max       512.000000
Name: Cmp, dtype: float64



Passing DF



count    2357.000000
mean      340.036063
std        94.678766
min        60.000000
25%       267.000000
50%       336.000000
75%       401.000000
max       719.000000
Name: Att, dtype: float64



Passing DF



count    2357.000000
mean       59.411625
std         5.593187
min        38.600000
25%        55.800000
50%        59.500000
75%        63.200000
max        77.400000
Name: Pct, dtype: float64



Passing DF



count    2357.000000
mean     2512.245651
std       835.956598
min       358.000000
25%      1898.000000
50%      2445.000000
75%      3043.000000
max      5967.000000
Name: Yds, dtype: float64



Passing DF



count    2357.000000
mean        7.335978
std         1.062377
min         4.200000
25%         6.600000
50%         7.300000
75%         8.000000
max        11.900000
Name: Y/A, dtype: float64



Passing DF



count    2357.000000
mean        7.069028
std         1.589642
min         1.600000
25%         6.000000
50%         7.000000
75%         8.100000
max        13.600000
Name: AY/A, dtype: float64



Passing DF



count    2357.000000
mean       17.904964
std         8.706025
min         1.000000
25%        12.000000
50%        17.000000
75%        23.000000
max        62.000000
Name: TD, dtype: float64



Passing DF



count    2357.000000
mean        9.487484
std         3.687891
min         0.000000
25%         7.000000
50%         9.000000
75%        12.000000
max        24.000000
Name: Int, dtype: float64



Passing DF



count    2357.000000
mean      132.298048
std        18.698614
min        76.400000
25%       119.300000
50%       131.700000
75%       144.400000
max       207.600000
Name: Rate, dtype: float64



Passing DF



count    2357.000000
mean       82.805685
std        44.168660
min         8.000000
25%        50.000000
50%        73.000000
75%       107.000000
max       317.000000
Name: Att.1, dtype: float64



Passing DF



count    2357.000000
mean      188.311837
std       293.169750
min      -373.000000
25%       -22.000000
50%       109.000000
75%       326.000000
max      1920.000000
Name: Yds.1, dtype: float64



Passing DF



count    2357.000000
mean        1.328468
std         2.603966
min        -8.800000
25%        -0.400000
50%         1.600000
75%         3.200000
max         8.200000
Name: Avg, dtype: float64



Passing DF



count    2357.000000
mean        3.581247
std         3.615291
min         0.000000
25%         1.000000
50%         3.000000
75%         5.000000
max        27.000000
Name: TD.1, dtype: float64



Passing DF



count    2357.000000
mean     2010.152312
std         6.576193
min      1999.000000
25%      2005.000000
50%      2010.000000
75%      2016.000000
max      2021.000000
Name: Season, dtype: float64



Receiving DF



['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123' '124'
 '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135' '136'
 '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147' '148'
 '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159' '160'
 '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171' '172'
 '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183' '184'
 '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207' '208'
 '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219' '220'
 '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231' '232'
 '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255' '256'
 '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267' '268'
 '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280'
 '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292'
 '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '310' '311' '312' '313' '314' '315' '316'
 '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327' '328'
 '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339' '340'
 '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '351' '352'
 '353' '354' '355' '356' '357' '358' '359' '360' '361' '362' '363' '364'
 '365' '366' '367' '368' '369' '370' '371' '372' '373' '374' '375' '376'
 '377' '378' '379' '380' '381' '382' '383' '384' '385' '386' '387' '388'
 '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '410' '411' '412'
 '413' '414' '415' '416' '417' '418' '419' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436'
 '437' '438' '439' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '449' '450' '451' '452' '453' '454' '455' '456' '457' '458' '459' '460'
 '461' '462' '463' '464' '465' '466' '467' '468' '469' '470' '471' '472'
 '473' '474' '475' '476' '477']



Receiving DF



['Andre Davis' 'Quincy Morgan' 'Corey Alston' ... 'Lincoln Sefcik'
 'Rahjai Harris' 'Dominic Lovett']



Receiving DF



['Virginia Tech' 'Kansas State' 'Western Michigan' 'Akron' 'Arkansas'
 'San Diego State' 'Michigan' 'Ohio' 'Oregon State' 'Southern Mississippi'
 'Ohio State' 'Utah' 'UCLA' 'Stanford' 'Georgia Tech' 'Miami (OH)'
 'Mississippi State' 'Indiana' 'New Mexico State' 'Auburn' 'Texas A&M'
 'Boise State' 'North Texas' 'Marshall' 'Penn State' 'Central Michigan'
 'Northern Illinois' 'Wyoming' 'Purdue' 'Brigham Young'
 'North Carolina State' 'Tennessee' 'Kansas' 'Florida' 'Michigan State'
 'Virginia' 'Notre Dame' 'UTEP' 'Illinois' 'Army' 'Colorado' 'Missouri'
 'Eastern Michigan' 'Syracuse' 'Texas Tech' 'USC' 'UAB' 'North Carolina'
 'Miami (FL)' 'Pitt' 'Arizona State' 'Colorado State' 'Hawaii' 'Arizona'
 'Texas' 'Duke' 'Rutgers' 'Cincinnati' 'Boston College' 'Vanderbilt'
 'Washington State' 'Oregon' 'East Carolina' 'TCU' 'Oklahoma State'
 'Nevada' 'Washington' 'Northwestern' 'South Carolina' 'Louisiana Tech'
 'Nebraska' 'SMU' 'Florida State' 'Fresno State' 'Memphis' 'California'
 'Bowling Green State' 'Georgia' 'West Virginia' 'Idaho' 'LSU'
 'San Jose State' 'New Mexico' 'Air Force' 'Wisconsin' 'Tulane'
 'Louisville' 'Kent State' 'UNLV' 'Wake Forest' 'Alabama' 'Arkansas State'
 'Oklahoma' 'Buffalo' 'Clemson' 'Louisiana' 'Iowa'
 'Middle Tennessee State' 'Minnesota' 'UCF' 'Ole Miss' 'Houston' 'Toledo'
 'Utah State' 'Louisiana-Monroe' 'Kentucky' 'Baylor' 'Iowa State'
 'Ball State' 'Tulsa' 'Maryland' 'Temple' 'South Florida' 'Connecticut'
 'Navy' 'Rice' 'Troy' 'Florida Atlantic' 'Florida International'
 'Western Kentucky' 'Texas State' 'South Alabama' 'UTSA' 'Massachusetts'
 'Georgia State' 'Appalachian State' 'Old Dominion' 'Georgia Southern'
 'Charlotte' 'Coastal Carolina' 'Liberty']



Receiving DF



['Big East' 'Big 12' 'MAC' 'SEC' 'MWC' 'Big Ten' 'Pac-10' 'CUSA' 'ACC'
 'Big West' 'Ind' 'WAC' 'Sun Belt' 'Pac-12' 'American']



Receiving DF



count    9730.000000
mean       11.534532
std         1.729316
min         0.000000
25%        11.000000
50%        12.000000
75%        13.000000
max        19.000000
Name: G, dtype: float64



Receiving DF



count    9730.000000
mean       41.683556
std        17.671855
min         4.000000
25%        29.000000
50%        37.000000
75%        50.000000
max       158.000000
Name: Rec, dtype: float64



Receiving DF



count    9730.000000
mean      540.340493
std       275.641779
min         7.000000
25%       339.000000
50%       478.000000
75%       679.750000
max      2060.000000
Name: Yds, dtype: float64



Receiving DF



count    9730.000000
mean       12.804861
std         3.232293
min         1.400000
25%        10.700000
50%        12.600000
75%        14.800000
max        31.900000
Name: Avg, dtype: float64



Receiving DF



count    9730.000000
mean        3.871737
std         3.128816
min         0.000000
25%         2.000000
50%         3.000000
75%         5.000000
max        25.000000
Name: TD, dtype: float64



Receiving DF



count    9730.000000
mean       21.096403
std        56.986639
min         0.000000
25%         0.000000
50%         1.000000
75%         5.000000
max       390.000000
Name: Att, dtype: float64



Receiving DF



count    9730.000000
mean      109.684070
std       297.613917
min       -39.000000
25%         0.000000
50%         0.000000
75%        33.000000
max      2133.000000
Name: Yds.1, dtype: float64



Receiving DF



count    9730.000000
mean        2.946968
std         5.166978
min       -27.000000
25%         0.000000
50%         0.000000
75%         5.200000
max        76.000000
Name: Avg.1, dtype: float64



Receiving DF



count    9730.000000
mean        1.005961
std         3.028654
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        28.000000
Name: TD.1, dtype: float64



Receiving DF



count    9730.000000
mean       62.779959
std        57.296905
min         4.000000
25%        32.000000
50%        43.000000
75%        64.000000
max       418.000000
Name: Plays, dtype: float64



Receiving DF



count    9730.000000
mean      650.024563
std       349.837661
min        28.000000
25%       398.000000
50%       559.000000
75%       811.000000
max      2664.000000
Name: Yds.2, dtype: float64



Receiving DF



count    9730.000000
mean       12.124687
std         3.616460
min         3.300000
25%        10.000000
50%        12.200000
75%        14.400000
max        30.100000
Name: Avg.2, dtype: float64



Receiving DF



count    9730.000000
mean        4.877698
std         3.929516
min         0.000000
25%         2.000000
50%         4.000000
75%         7.000000
max        32.000000
Name: TD.2, dtype: float64



Receiving DF



count    9730.000000
mean     2010.499589
std         6.541285
min      1999.000000
25%      2005.000000
50%      2011.000000
75%      2016.000000
max      2021.000000
Name: Season, dtype: float64



Rushing DF



['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123' '124'
 '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135' '136'
 '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147' '148'
 '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159' '160'
 '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171' '172'
 '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183' '184'
 '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207' '208'
 '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219' '220'
 '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231' '232'
 '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255' '256'
 '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267' '268'
 '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280'
 '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292'
 '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304'
 '305' '306']



Rushing DF



['Levron Williams' 'Scott McKay' 'Bo Carroll' ... 'Dylan Hopkins'
 'Matt McDonald' 'Ben Bryant']



Rushing DF



['Indiana' 'Air Force' 'Florida' 'TCU' 'Toledo' 'Nebraska' 'Ohio'
 'Arizona State' 'Arizona' 'Tennessee' 'Fresno State' 'Virginia Tech'
 'Maryland' 'Wisconsin' 'Miami (FL)' 'Houston' 'Navy' 'Texas Tech'
 'Louisiana Tech' 'Wyoming' 'Arkansas' 'Hawaii' 'Rice' 'Army'
 'Colorado State' 'San Jose State' 'UAB' 'Kansas State' 'New Mexico State'
 'Utah State' 'Louisville' 'Cincinnati' 'Ole Miss' 'San Diego State'
 'Tulsa' 'East Carolina' 'Virginia' 'Illinois' 'UCF' 'Stanford'
 'New Mexico' 'Texas' 'Ohio State' 'Idaho' 'Oregon State' 'West Virginia'
 'Western Michigan' 'Boston College' 'Georgia' 'Syracuse' 'Michigan State'
 'Bowling Green State' 'SMU' 'Mississippi State' 'Utah' 'Notre Dame'
 'Penn State' 'Kansas' 'Nevada' 'Arkansas State' 'Purdue' 'Georgia Tech'
 'Colorado' 'Minnesota' 'Vanderbilt' 'Oklahoma State' 'Marshall'
 'Central Michigan' 'Oklahoma' 'Iowa State' 'Memphis' 'Akron' 'Miami (OH)'
 'Northern Illinois' 'Washington State' 'California'
 'Middle Tennessee State' 'Brigham Young' 'Alabama' 'UTEP' 'Kentucky'
 'USC' 'Oregon' 'Iowa' 'Florida State' 'UNLV' 'North Carolina State'
 'Pitt' 'Michigan' 'Clemson' 'Missouri' 'Boise State' 'North Carolina'
 'North Texas' 'Louisiana-Monroe' 'Washington' 'UCLA' 'Wake Forest'
 'Baylor' 'Kent State' 'Buffalo' 'Southern Mississippi' 'Tulane'
 'Texas A&M' 'Temple' 'Eastern Michigan' 'Northwestern' 'Louisiana' 'LSU'
 'Ball State' 'Rutgers' 'South Carolina' 'Duke' 'Auburn' 'South Florida'
 'Connecticut' 'Troy' 'Florida Atlantic' 'Florida International'
 'Western Kentucky' 'Texas State' 'South Alabama' 'UTSA' 'Massachusetts'
 'Georgia State' 'Georgia Southern' 'Old Dominion' 'Appalachian State'
 'Charlotte' 'Coastal Carolina' 'Liberty' 'North Dakota State']



Rushing DF



['Big Ten' 'MWC' 'SEC' 'WAC' 'MAC' 'Big 12' 'Pac-10' 'Big East' 'ACC'
 'CUSA' 'Ind' 'Big West' 'Sun Belt' 'Pac-12' 'American' 'MVC']



Rushing DF



count    6195.000000
mean       11.379177
std         1.811077
min         1.000000
25%        11.000000
50%        12.000000
75%        13.000000
max        16.000000
Name: G, dtype: float64



Rushing DF



count    6195.000000
mean      141.986602
std        58.109596
min        14.000000
25%        97.000000
50%       127.000000
75%       174.000000
max       450.000000
Name: Att, dtype: float64



Rushing DF



count    6195.000000
mean      671.150767
std       377.265302
min      -205.000000
25%       406.000000
50%       593.000000
75%       875.500000
max      2587.000000
Name: Yds, dtype: float64



Rushing DF



count    6195.000000
mean        4.558612
std         1.424024
min        -2.400000
25%         3.900000
50%         4.700000
75%         5.400000
max        10.100000
Name: Avg, dtype: float64



Rushing DF



count    6195.000000
mean        6.630993
std         4.611592
min         0.000000
25%         3.000000
50%         6.000000
75%         9.000000
max        33.000000
Name: TD, dtype: float64



Rushing DF



count    6195.000000
mean       11.803874
std        11.967038
min         0.000000
25%         1.000000
50%         9.000000
75%        18.000000
max        98.000000
Name: Rec, dtype: float64



Rushing DF



count    6195.000000
mean      102.120420
std       113.136096
min       -32.000000
25%        12.000000
50%        70.000000
75%       154.000000
max       865.000000
Name: Yds.1, dtype: float64



Rushing DF



count    6195.000000
mean        7.234512
std         5.830161
min       -25.000000
25%         4.000000
50%         7.400000
75%         9.800000
max        87.000000
Name: Avg.1, dtype: float64



Rushing DF



count    6195.000000
mean        0.566747
std         0.983981
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         8.000000
Name: TD.1, dtype: float64



Rushing DF



count    6195.000000
mean      153.790476
std        63.472278
min        14.000000
25%       105.000000
50%       138.000000
75%       189.000000
max       474.000000
Name: Plays, dtype: float64



Rushing DF



count    6195.000000
mean      773.271186
std       436.081101
min      -212.000000
25%       465.000000
50%       695.000000
75%      1024.000000
max      2809.000000
Name: Yds.2, dtype: float64



Rushing DF



count    6195.000000
mean        4.822938
std         1.514089
min        -2.400000
25%         4.200000
50%         5.000000
75%         5.700000
max        11.400000
Name: Avg.2, dtype: float64



Rushing DF



count    6195.000000
mean        7.197740
std         4.905776
min         0.000000
25%         4.000000
50%         6.000000

#Cutting and Exporting Necessary Columns

In [ ]:
print('pass:\n\n')
display(cfb_pass.sample(10))
print('rec:\n\n')
display(cfb_rec.sample(10))
print('rush\n\n')
cfb_rush.sample(10)

pass:

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Att.1,Yds.1,Avg,TD.1,Season
36,36,Colt McCoy,Texas,Big 12,14.0,332.0,470.0,70.6,3521.0,7.5,7.5,27.0,12.0,147.4,129.0,348.0,2.7,3.0,2009
82,80,Ryan Lindley,San Diego State,MWC,11.0,242.0,427.0,56.7,2653.0,6.2,6.0,16.0,9.0,117.0,31.0,-62.0,-2.0,1.0,2008
91,88,Garrett Gilbert,Texas,Big 12,12.0,260.0,441.0,59.0,2744.0,6.2,4.9,10.0,17.0,111.0,100.0,380.0,3.8,5.0,2010
81,79,Brad Smith,Missouri,Big 12,12.0,196.0,366.0,53.6,2333.0,6.4,6.5,15.0,6.0,117.3,193.0,1029.0,5.3,7.0,2002
102,99,Zack Asack,Duke,ACC,9.0,90.0,180.0,50.0,966.0,5.4,3.9,5.0,8.0,95.4,78.0,95.0,1.2,2.0,2005
23,23,Colt McCoy,Texas,Big 12,13.0,276.0,424.0,65.1,3303.0,7.8,6.9,22.0,18.0,139.2,114.0,492.0,4.3,4.0,2007
12,13,Aaron Murray,Georgia,SEC,11.0,225.0,347.0,64.8,3075.0,8.9,9.2,26.0,9.0,158.8,53.0,186.0,3.5,7.0,2013
97,94,Daniel Raudabaugh,Miami (OH),MAC,11.0,201.0,343.0,58.6,1960.0,5.7,5.0,8.0,9.0,109.0,25.0,-22.0,-0.9,0.0,2008
82,80,Desmond Robinson,East Carolina,CUSA,9.0,133.0,201.0,66.2,1262.0,6.3,4.1,3.0,11.0,112.9,68.0,127.0,1.9,2.0,2003
53,52,Spencer Keith,Kent State,MAC,10.0,168.0,294.0,57.1,2147.0,7.3,6.6,14.0,11.0,126.7,42.0,84.0,2.0,1.0,2009

rec:

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
292,280,Amad Anderson Jr.,Temple,American,11.0,24.0,283.0,11.8,2.0,1.0,-9.0,-9.0,0.0,25.0,274.0,11.0,2.0,2021
180,173,Davon Grayson,East Carolina,American,11.0,33.0,448.0,13.6,3.0,0.0,0.0,0.0,0.0,33.0,448.0,13.6,3.0,2015
454,434,Connor Wedington,Stanford,Pac-12,13.0,31.0,243.0,7.8,0.0,3.0,57.0,19.0,0.0,34.0,300.0,8.8,0.0,2017
333,319,Malcome Kennedy,Texas A&M,SEC,11.0,60.0,658.0,11.0,7.0,0.0,0.0,0.0,0.0,60.0,658.0,11.0,7.0,2013
211,202,Jordan Matthews,Vanderbilt,SEC,13.0,112.0,1477.0,13.2,7.0,6.0,54.0,9.0,0.0,118.0,1531.0,13.0,7.0,2013
38,38,Jimmie Hunt,Missouri,SEC,12.0,40.0,698.0,17.5,7.0,0.0,0.0,0.0,0.0,40.0,698.0,17.5,7.0,2014
219,210,Jeremy Bruce,Akron,MAC,12.0,29.0,345.0,11.9,1.0,18.0,53.0,2.9,0.0,47.0,398.0,8.5,1.0,2008
181,174,Matt Cherry,Akron,MAC,11.0,48.0,630.0,13.1,3.0,1.0,8.0,8.0,0.0,49.0,638.0,13.0,3.0,2001
212,203,Marcedes Lewis,UCLA,Pac-10,12.0,32.0,402.0,12.6,7.0,0.0,0.0,0.0,0.0,32.0,402.0,12.6,7.0,2004
238,228,Easop Winston,Washington State,Pac-12,13.0,52.0,654.0,12.6,8.0,0.0,0.0,0.0,0.0,52.0,654.0,12.6,8.0,2018

rush

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Yds.1,Avg.1,TD.1,Plays,Yds.2,Avg.2,TD.2,Season
113,109,Shaun Alexander,Alabama,SEC,11.0,302.0,1383.0,4.6,19.0,25.0,323.0,12.9,4.0,327.0,1706.0,5.2,23.0,1999
69,67,Isaiah Spiller,Texas A&M,SEC,12.0,179.0,1011.0,5.6,6.0,25.0,189.0,7.6,1.0,204.0,1200.0,5.9,7.0,2021
210,201,Norval McKenzie,Vanderbilt,SEC,12.0,162.0,639.0,3.9,5.0,15.0,109.0,7.3,0.0,177.0,748.0,4.2,5.0,2003
164,158,Shannon Brooks,Minnesota,Big Ten,6.0,79.0,369.0,4.7,5.0,5.0,59.0,11.8,0.0,84.0,428.0,5.1,5.0,2017
140,135,Taylor Martinez,Nebraska,Big Ten,13.0,188.0,874.0,4.6,9.0,0.0,0.0,0.0,0.0,188.0,874.0,4.6,9.0,2011
102,99,Justin Davis,USC,Pac-12,13.0,169.0,902.0,5.3,7.0,18.0,189.0,10.5,0.0,187.0,1091.0,5.8,7.0,2015
92,89,Carlos Hyde,Ohio State,Big Ten,10.0,185.0,970.0,5.2,16.0,8.0,51.0,6.4,1.0,193.0,1021.0,5.3,17.0,2012
243,233,P.J. Walker,Temple,American,9.0,90.0,332.0,3.7,3.0,0.0,0.0,0.0,0.0,90.0,332.0,3.7,3.0,2013
210,201,Tony Dixon,Kentucky,SEC,12.0,87.0,303.0,3.5,4.0,17.0,138.0,8.1,0.0,104.0,441.0,4.2,4.0,2006
286,274,Brandon Bridge,South Alabama,Sun Belt,11.0,101.0,297.0,2.9,4.0,0.0,0.0,0.0,0.0,101.0,297.0,2.9,4.0,2014

In [ ]:
#Aggregate player's seasonal data to produce single career average
pass_pivot = cfb_pass.pivot_table(columns='Player', aggfunc = 'mean')
rush_pivot = cfb_rush.pivot_table(columns='Player', aggfunc = 'mean')
rec_pivot = cfb_rec.pivot_table(columns='Player', aggfunc = 'mean')


display(pass_pivot)
display(rush_pivot)
rec_pivot

Player,A.J. Doyle,A.J. Erdely,A.J. Feeley,A.J. McCarron,A.J. Suggs,AJ Bush,Aaron Karas,Aaron Leak,Aaron Murray,Aaron Opelt,...,Zach Mettenberger,Zach Smith,Zach Terrell,Zach Williams,Zach Wilson,Zack Asack,Zack Mills,Zack Threadgill,Zak Clark,Zak Kustok
AY/A,3.8,7.3,7.6,9.633333,5.0,5.0,5.15,4.0,9.325,5.925,...,8.95,7.025,8.800,3.9,12.6,3.9,5.725,7.0,5.3,6.65
Att,235.0,338.0,259.0,326.000000,363.0,217.0,245.00,259.0,369.500,268.500,...,324.00,272.250,346.750,213.0,336.0,180.0,270.500,451.0,179.0,383.50
Att.1,65.0,122.0,31.0,37.666667,52.0,138.0,77.00,126.0,71.500,49.500,...,40.50,41.500,69.250,32.0,70.0,78.0,68.750,62.0,22.0,170.50
Avg,2.3,2.7,-0.2,-0.400000,0.4,5.3,-1.55,1.7,1.375,2.800,...,-4.15,-1.650,1.975,-0.8,3.6,1.2,2.050,1.9,-1.9,3.15
Cmp,128.0,205.0,136.0,218.666667,208.0,117.0,142.50,110.0,230.250,156.250,...,199.50,153.500,227.000,114.0,247.0,90.0,151.500,275.0,88.0,218.50
G,11.0,13.0,10.0,13.333333,13.0,10.0,10.50,12.0,13.000,9.750,...,12.50,10.000,12.250,9.0,12.0,9.0,10.750,12.0,10.0,11.50
Int,11.0,4.0,6.0,5.000000,15.0,10.0,12.00,12.0,10.250,7.250,...,7.50,8.500,7.750,8.0,3.0,8.0,9.750,17.0,4.0,8.50
Pct,54.5,60.7,52.5,67.100000,57.3,53.9,58.15,42.5,62.375,57.725,...,61.85,56.150,64.425,53.5,73.5,50.0,55.925,61.0,49.2,56.95
Rate,99.1,131.8,129.0,163.266667,111.8,108.5,115.20,88.4,158.625,119.275,...,149.85,129.250,153.200,96.4,196.4,95.4,116.500,136.1,102.7,124.95
Season,2013.0,2017.0,1999.0,2012.000000,2002.0,2018.0,2002.50,2003.0,2011.500,2007.500,...,2012.50,2018.000,2014.500,2000.0,2020.0,2005.0,2002.500,2002.0,2001.0,2000.50
TD,6.0,16.0,14.0,24.666667,12.0,6.0,8.00,7.0,30.250,11.500,...,17.00,13.250,24.000,4.0,33.0,5.0,10.250,26.0,6.0,19.50
TD.1,0.0,13.0,0.0,1.000000,0.0,8.0,0.50,3.0,4.000,4.000,...,0.00,0.250,3.250,1.0,10.0,2.0,2.750,1.0,0.0,10.00
Y/A,5.4,6.9,7.5,8.800000,6.2,6.5,6.65,5.5,8.925,6.325,...,8.90,7.525,8.550,5.3,11.0,5.4,6.650,7.6,5.6,6.65
Yds,1274.0,2331.0,1951.0,2876.666667,2242.0,1413.0,1636.50,1427.0,3291.500,1701.000,...,2845.50,2055.750,3025.000,1120.0,3692.0,966.0,1803.000,3418.0,1000.0,2540.50
Yds.1,151.0,326.0,-5.0,-13.333333,21.0,733.0,-94.00,208.0,99.000,134.250,...,-170.50,-65.750,155.000,-27.0,254.0,95.0,146.000,116.0,-42.0,542.50

Player,A'Jon Vivens,A'Mod Ned,A.J. Blue,A.J. Davis,A.J. Erdely,A.J. Harris,A.J. Ouellette,A.J. Schurr,A.J. Turner,AJ Bush,...,Zack Mills,Zack Moss,Zain Gilmore,Zaire Williams,Zak Kustok,Zamir White,Zamore Zigler,Zaquandre White,Zonovan Knight,Zurlon Tipton
Att,69.50,101.000,82.0,127.0,122.0,174.0,179.000,98.0,107.00,138.0,...,80.5,178.000,139.000000,101.0,144.333333,152.00,79.0,88.0,139.666667,165.50
Avg,3.95,4.125,5.3,4.2,2.7,4.7,5.175,3.9,4.85,5.3,...,2.4,5.525,4.166667,5.3,2.866667,5.40,5.4,6.6,5.466667,5.30
Avg.1,4.15,7.175,8.9,11.7,3.0,4.0,8.075,0.0,6.65,0.0,...,0.0,8.150,7.800000,11.6,0.000000,7.25,7.9,10.9,6.866667,9.65
Avg.2,4.10,4.500,5.6,5.3,2.7,4.7,5.450,3.9,5.15,5.3,...,2.4,5.825,4.400000,5.9,2.866667,5.45,5.6,7.3,5.600000,5.80
G,6.50,9.500,12.0,11.0,13.0,11.0,12.250,6.0,12.50,10.0,...,11.5,11.250,10.666667,11.0,10.000000,12.50,8.0,10.0,12.000000,10.00
Plays,75.00,115.250,91.0,150.0,123.0,184.0,195.000,98.0,126.50,138.0,...,80.5,194.500,146.666667,112.0,144.333333,159.50,89.0,106.0,155.666667,186.00
Rec,5.50,14.250,9.0,23.0,1.0,10.0,16.000,0.0,19.50,0.0,...,0.0,16.500,7.666667,11.0,0.000000,7.50,10.0,18.0,16.000000,20.50
Season,2020.50,2006.500,2012.0,2019.0,2017.0,2004.0,2016.000,2015.0,2016.50,2018.0,...,2001.5,2017.500,2000.000000,2013.0,2000.000000,2020.50,2016.0,2021.0,2020.000000,2011.50
TD,0.50,2.500,9.0,4.0,13.0,4.0,8.000,7.0,3.00,8.0,...,3.0,9.500,4.666667,3.0,7.333333,11.00,3.0,2.0,6.000000,10.50
TD.1,0.00,0.250,1.0,0.0,0.0,0.0,1.500,0.0,0.50,0.0,...,0.0,0.750,0.333333,0.0,0.000000,0.00,1.0,2.0,0.000000,0.50
TD.2,0.50,2.750,10.0,4.0,13.0,4.0,9.500,7.0,3.50,8.0,...,3.0,10.250,5.000000,3.0,7.333333,11.00,4.0,4.0,6.000000,11.00
Yds,267.00,416.500,433.0,530.0,326.0,822.0,946.000,384.0,514.00,733.0,...,194.0,1016.750,581.000000,533.0,431.333333,817.50,423.0,583.0,762.000000,933.50
Yds.1,37.00,102.750,80.0,269.0,3.0,40.0,129.000,0.0,130.00,0.0,...,0.0,171.250,61.000000,128.0,0.000000,56.00,79.0,196.0,112.333333,205.50
Yds.2,304.00,519.250,513.0,799.0,329.0,862.0,1075.000,384.0,644.00,733.0,...,194.0,1188.000,642.000000,661.0,431.333333,873.50,502.0,779.0,874.333333,1139.00

Player,A.J. Barker,A.J. Bennett,A.J. Brown,A.J. Butler,A.J. Coney,A.J. Green,A.J. Guyton,A.J. Harris,A.J. Jenkins,A.J. Love,...,Zamir Cobb,Zane Fakes,Zane Pope,Zavier Scott,Zay Flowers,Zay Jones,Zek Parker,Zeke Markshausen,Zeke McKine,Zeriah Beason
Att,0.0,4.5,0.000000,50.0,0.0,2.333333,2.666667,2.000,2.50,1.50,...,0.0,3.50,1.00,34.0,9.00,1.25,2.00,4.0,1.0,0.0
Avg,19.2,10.2,15.466667,6.7,12.8,15.766667,13.533333,9.850,13.75,15.35,...,11.2,9.05,15.00,6.9,16.45,10.55,14.00,9.4,13.0,9.3
Avg.1,0.0,4.2,0.000000,3.5,0.0,10.000000,3.800000,5.675,2.60,9.75,...,0.0,3.45,1.50,6.2,6.80,0.00,5.25,2.3,8.0,0.0
Avg.2,19.2,9.7,15.466667,4.8,12.8,15.733333,12.900000,9.750,13.50,15.15,...,11.2,8.80,14.55,6.5,14.95,10.45,13.70,9.1,12.8,9.3
G,8.0,11.0,11.333333,7.0,14.0,10.666667,12.333333,11.500,13.00,13.00,...,12.0,12.50,11.50,10.0,11.50,12.25,11.50,13.0,9.0,6.0
Plays,30.0,52.5,63.000000,82.0,43.0,57.666667,35.666667,69.000,75.50,30.00,...,59.5,52.50,37.00,67.0,59.00,101.00,44.50,95.0,33.0,16.0
Rec,30.0,48.0,63.000000,32.0,43.0,55.333333,33.000000,67.000,73.00,28.50,...,59.5,49.00,36.00,33.0,50.00,99.75,42.50,91.0,32.0,16.0
Season,2012.0,2004.5,2017.000000,2009.0,2017.0,2009.000000,2010.000000,2006.500,2010.50,2008.50,...,2002.5,2012.50,2020.00,2018.0,2020.50,2014.50,2000.50,2009.0,2000.0,2020.0
TD,7.0,3.0,6.333333,0.0,3.0,7.666667,1.666667,4.000,7.50,3.00,...,5.5,3.50,2.50,1.0,7.00,5.75,4.00,3.0,2.0,3.0
TD.1,0.0,0.5,0.000000,1.0,0.0,0.000000,0.000000,0.000,0.00,0.00,...,0.0,0.00,0.00,0.0,0.50,0.00,0.00,0.0,0.0,0.0
TD.2,7.0,3.5,6.333333,1.0,3.0,7.666667,1.666667,4.000,7.50,3.00,...,5.5,3.50,2.50,1.0,7.50,5.75,4.00,3.0,2.0,3.0
Yds,577.0,470.5,994.666667,213.0,551.0,873.000000,443.000000,640.250,1011.00,429.50,...,674.5,435.50,498.00,228.0,819.00,1069.75,591.00,858.0,416.0,148.0
Yds.1,0.0,12.0,0.000000,177.0,0.0,35.000000,12.333333,8.750,13.00,13.50,...,0.0,24.00,1.50,210.0,55.00,4.50,10.50,9.0,8.0,0.0
Yds.2,577.0,482.5,994.666667,390.0,551.0,908.000000,455.333333,649.000,1024.00,443.00,...,674.5,459.50,499.50,438.0,874.00,1074.25,601.50,867.0,424.0,148.0

In [ ]:
#Transpose columns and index to complete aggregation
rec_pivot = rec_pivot.T.reset_index()
rush_pivot = rush_pivot.T.reset_index()
pass_pivot = pass_pivot.T.reset_index()
display(rec_pivot.head())
display(rush_pivot.head())
pass_pivot.head()

,Player,Att,Avg,Avg.1,Avg.2,G,Plays,Rec,Season,TD,TD.1,TD.2,Yds,Yds.1,Yds.2
0,A.J. Barker,0.0,19.200000,0.0,19.200000,8.000000,30.0,30.0,2012.0,7.000000,0.0,7.000000,577.000000,0.0,577.000000
1,A.J. Bennett,4.5,10.200000,4.2,9.700000,11.000000,52.5,48.0,2004.5,3.000000,0.5,3.500000,470.500000,12.0,482.500000
2,A.J. Brown,0.0,15.466667,0.0,15.466667,11.333333,63.0,63.0,2017.0,6.333333,0.0,6.333333,994.666667,0.0,994.666667
3,A.J. Butler,50.0,6.700000,3.5,4.800000,7.000000,82.0,32.0,2009.0,0.000000,1.0,1.000000,213.000000,177.0,390.000000
4,A.J. Coney,0.0,12.800000,0.0,12.800000,14.000000,43.0,43.0,2017.0,3.000000,0.0,3.000000,551.000000,0.0,551.000000

,Player,Att,Avg,Avg.1,Avg.2,G,Plays,Rec,Season,TD,TD.1,TD.2,Yds,Yds.1,Yds.2
0,A'Jon Vivens,69.5,3.950,4.150,4.1,6.5,75.00,5.50,2020.5,0.5,0.00,0.50,267.0,37.00,304.00
1,A'Mod Ned,101.0,4.125,7.175,4.5,9.5,115.25,14.25,2006.5,2.5,0.25,2.75,416.5,102.75,519.25
2,A.J. Blue,82.0,5.300,8.900,5.6,12.0,91.00,9.00,2012.0,9.0,1.00,10.00,433.0,80.00,513.00
3,A.J. Davis,127.0,4.200,11.700,5.3,11.0,150.00,23.00,2019.0,4.0,0.00,4.00,530.0,269.00,799.00
4,A.J. Erdely,122.0,2.700,3.000,2.7,13.0,123.00,1.00,2017.0,13.0,0.00,13.00,326.0,3.00,329.00

,Player,AY/A,Att,Att.1,Avg,Cmp,G,Int,Pct,Rate,Season,TD,TD.1,Y/A,Yds,Yds.1
0,A.J. Doyle,3.800000,235.0,65.000000,2.3,128.000000,11.000000,11.0,54.5,99.100000,2013.0,6.000000,0.0,5.4,1274.000000,151.000000
1,A.J. Erdely,7.300000,338.0,122.000000,2.7,205.000000,13.000000,4.0,60.7,131.800000,2017.0,16.000000,13.0,6.9,2331.000000,326.000000
2,A.J. Feeley,7.600000,259.0,31.000000,-0.2,136.000000,10.000000,6.0,52.5,129.000000,1999.0,14.000000,0.0,7.5,1951.000000,-5.000000
3,A.J. McCarron,9.633333,326.0,37.666667,-0.4,218.666667,13.333333,5.0,67.1,163.266667,2012.0,24.666667,1.0,8.8,2876.666667,-13.333333
4,A.J. Suggs,5.000000,363.0,52.000000,0.4,208.000000,13.000000,15.0,57.3,111.800000,2002.0,12.000000,0.0,6.2,2242.000000,21.000000

In [ ]:
#Drop unnecessary rows and export to Excel
rec_done = rec_pivot[['Player', 'Avg', 'Avg.2', 'TD.2', 'Plays']]
rush_done = rush_pivot[['Player', 'Avg', 'Avg.1', 'TD.2', 'Plays']]

pass_pivot['Total TDs/season'] = pass_pivot['TD'] + pass_pivot['TD.1']
pass_done = pass_pivot[['Player', 'Y/A', 'AY/A', 'Rate', 'Total TDs/season', 'Avg']]


rec_done = rec_done.rename(columns = {'Avg': 'Avg/Rec',
                           'Avg.2': 'Avg/Rush',
                           'TD.2': 'Total TDs/season',
                           'Plays': 'Total Scrimmage Plays/season'})
rush_done = rush_done.rename(columns = {'Avg': 'Avg/Rush',
                           'Avg.1': 'Avg/Rec',
                           'TD.2': 'Total TDs/season',
                           'Plays': 'Total Scrimmage Plays/season'})
pass_done = pass_done.rename(columns = {'Avg': 'Rush Avg.'})
display(rec_done.head())
display(rush_done.head())
pass_done.head()

,Player,Avg/Rec,Avg/Rush,Total TDs/season,Total Scrimmage Plays/season
0,A.J. Barker,19.200000,19.200000,7.000000,30.0
1,A.J. Bennett,10.200000,9.700000,3.500000,52.5
2,A.J. Brown,15.466667,15.466667,6.333333,63.0
3,A.J. Butler,6.700000,4.800000,1.000000,82.0
4,A.J. Coney,12.800000,12.800000,3.000000,43.0

,Player,Avg/Rush,Avg/Rec,Total TDs/season,Total Scrimmage Plays/season
0,A'Jon Vivens,3.950,4.150,0.50,75.00
1,A'Mod Ned,4.125,7.175,2.75,115.25
2,A.J. Blue,5.300,8.900,10.00,91.00
3,A.J. Davis,4.200,11.700,4.00,150.00
4,A.J. Erdely,2.700,3.000,13.00,123.00

          Player  Y/A      AY/A        Rate  Total TDs/season  Rush Avg.
0     A.J. Doyle  5.4  3.800000   99.100000          6.000000        2.3
1    A.J. Erdely  6.9  7.300000  131.800000         29.000000        2.7
2    A.J. Feeley  7.5  7.600000  129.000000         14.000000       -0.2
3  A.J. McCarron  8.8  9.633333  163.266667         25.666667       -0.4
4     A.J. Suggs  6.2  5.000000  111.800000         12.000000        0.4

In [ ]:
pass_done.to_excel(excel_writer='/content/drive/MyDrive/Datasets/CFBPassing1999_2020.xlsx')
rush_done.to_excel(excel_writer='/content/drive/MyDrive/Datasets/CFBRushing1999_2020.xlsx')
rec_done.to_excel(excel_writer='/content/drive/MyDrive/Datasets/CFBReceiving1999_2020.xlsx')